<div class="row-fluid"> 
   <div class="span6"> 
      <%= f.input :student_id, collection: Student.all.map{|cd|[cd.name, cd.id]}, input_html: { class: 'span10' } %>
   </div>
</div>   
<div class="row-fluid"> 
   <div class="span6"> 
      <%= f.input :evaluator_id, collection: Evaluator.all.map{|cd|[cd.name, cd.id]}, input_html: { class: 'span10' } %>
   </div>
</div>
<div class="row-fluid">    
   <div class="span4"> 
      <%= f.input :evaluation_date, input_html: { class: 'span4' } %>
   </div>
</div>
<div class="row-fluid">   
   <div class="span4"> 
      <%= f.input :end_date, input_html: { class: 'span4' } %>
   </div>
</div>   
