<a href="#myModal_peso_n" role="button" class="icon-ok" data-toggle="modal"></a>
		<!-- Modal -->
<div id="myModal_peso_n" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel">Peso Normal - IMC= <%= @imc %></h3>
	</div>
	<div class="modal-body">
		<table class="table table-bordered">
			<tr>
				<th>
					IMC
				</th>
				<th>
					Homens
				</th>
				<th>
					Mulheres
				</th>
			</tr>
			<tr>
				<td>
					Obesidade mórbida
				</td>
				<td>
					+ de 43
				</td>
				<td>
					+ de 39
				</td>				
			</tr>
			<tr>
				<td>
					Obesidade moderada
				</td>
				<td>
					30 a 39,9
				</td>
				<td>
					29 a 38,9
				</td>				
			</tr>
			<tr>
				<td>
					Obesidade leve
				</td>
				<td>
					25 a 29,9
				</td>
				<td>
					24 a 28,9
				</td>				
			</tr>
			<tr>
				<td>
					Normal
				</td>
				<td>
					+ de 20 a 24,9
				</td>
				<td>
					19 a 23,9
				</td>				
			</tr>
			<tr>
				<td>
					Abaixo do normal					
				</td>
				<td>
					 - de 20
				</td>
				<td>
					- de 9
				</td>								
			</tr>
		</table>
	</div>
</div>
