<a href="#myModal_gordura" role="button" class="icon-ok" data-toggle="modal"></a>
<div id="myModal_gordura" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel">Massa de gordura= <%= @gg %> <%= @gt %></h3>
	</div>
	<div class="modal-body">
	<% if @evaluation.student.male?%>
		<table class="table table-bordered">
			<tr>
				<th colspan="6">
						<p class="text-center">
							Homens							
						</p>
				</th>
			</tr>
			<tr>
				<th>
					Nivel/idade
				</th>
				<th>
					18-25
				</th>
				<th>
					26-35
				</th>
				<th>
					36-45
				</th>
				<th>
					46-55
				</th>	
				<th>
					56-65
				</th>							
			</tr>
			<tr>
				<td>
					excelente
				</td>
				<td>
					4 a 6 %
				</td>
				<td>
					8 a 11 %
				</td>
				<td>
					10 a 14 %
				</td>
				<td>
					12 a 16 %
				</td>	
				<td>
					13 a 18 %
				</td>							
			</tr>			
			<tr>
				<td>
					bom
				</td>
				<td>
					8 a 10 %
				</td>
				<td>
				 	12 a 15 %
				</td>
				<td>
					16 a 18 %
				</td>
				<td>
					18 a 20 %
				</td>	
				<td>
					20 a 21 %
				</td>							
			</tr>						
			<tr>
				<td>
					Acima da Média
				</td>
				<td>
					12 a 13 %
				</td>
				<td>
					16 a 18 %
				</td>
				<td>
					19 a 21 %
				</td>
				<td>
					21 a 23 %
				</td>	
				<td>
					22 a 23 %
				</td>							
			</tr>	
			<tr>
				<td>
					média
				</td>
				<td>
					14 a 16 %
				</td>
				<td>
					18 a 20 %
				</td>
				<td>
					21 a 23 %
				</td>
				<td>
					24 a 25 %
				</td>	
				<td>
					24 a 25 %
				</td>							
			</tr>			
			<tr>
				<td>
					abaixo da média
				</td>
				<td>
					17 a 20 %
				</td>
				<td>
					22 a 24 %
				</td>
				<td>
					24 a 25%
				</td>
				<td>
					26 a 27 %
				</td>	
				<td>
					26 a 27 %
				</td>
				<tr>
					<td>
						ruim
					</td>
					<td>
						20 a 24 %
					</td>
					<td>
						20 a 24 %
					</td>
					<td>
						27 a 29 %
					</td>
					<td>
						28 a 30 %
					</td>	
					<td>
						28 a 30 %
					</td>							
				</tr>			
				<tr>
					<td>
						muito ruim
					</td>
					<td>
						26 a 36 %
					</td>
					<td>
						28 a 36 %
					</td>
					<td>
						30 a 39%
					</td>
					<td>
						32 a 38 %
					</td>	
					<td>
						32 a 38 %
					</td>							
				</tr>																
			</tr>			
		</table>		
	<% else %>
	<table class="table table-bordered">
		<tr>
			<th colspan="6">
					<p class="text-center">
						Mulheres	
					</p>
			</th>
		</tr>
		<tr>
			<th>
				Nivel/idade
			</th>
			<th>
				18-25
			</th>
			<th>
				26-35
			</th>
			<th>
				36-45
			</th>
			<th>
				46-55
			</th>	
			<th>
				56-65
			</th>							
		</tr>
		<tr>
			<td>
				excelente
			</td>
			<td>
				13 a 16 %
			</td>
			<td>
				14 a 16 %
			</td>
			<td>
				16 a 19 %
			</td>
			<td>
				17 a 21 %
			</td>	
			<td>
				18 a 22 %
			</td>							
		</tr>			
		<tr>
			<td>
				bom
			</td>
			<td>
				17 a 19 %
			</td>
			<td>
			 	18 a 20 %
			</td>
			<td>
				20 a 23 %
			</td>
			<td>
				23 a 25 %
			</td>	
			<td>
				24 a 26 %
			</td>							
		</tr>						
		<tr>
			<td>
				Acima da Média
			</td>
			<td>
				20 a 22 %
			</td>
			<td>
				21 a 23 %
			</td>
			<td>
				24 a 26 %
			</td>
			<td>
				26 a 28 %
			</td>	
			<td>
				27 a 29 %
			</td>							
		</tr>	
		<tr>
			<td>
				média
			</td>
			<td>
				23 a 25 %
			</td>
			<td>
				24 a 25 %
			</td>
			<td>
				27 a 29 %
			</td>
			<td>
				29 a 31 %
			</td>	
			<td>
				30 a 32 %
			</td>							
		</tr>			
		<tr>
			<td>
				abaixo da média
			</td>
			<td>
				26 a 28 %
			</td>
			<td>
				27 a 29 %
			</td>
			<td>
				30 a 32 %
			</td>
			<td>
				32 a 34%
			</td>	
			<td>
				33 a 35 %
			</td>
			<tr>
				<td					ruim
				</td>
				<td>
					29 a 31 %
				</td>
				<td>
					31 a 33 %
				</td>
				<td>
					33 a 36 %
				</td>
				<td>
					35 a 38 %
				</td>	
				<td>
					36 a 38 %
				</td>							
			</tr>			
			<tr>
				<td>
					muito ruim
				</td>
				<td>
					33 a 43 %
				</td>
				<td>
					36 a 49 %
				</td>
				<td>
					38 a 48 %
				</td>
				<td>
					39 a 50 %
				</td>	
				<td>
					39 a 49%
				</td>							
			</tr>																
		</tr>			
	</table>	

	<% end %>
	</div>
</div>
