<% if  @evaluations.any? %>
	<div class="container-fluid" id="messages-content">
		<div class="row-fluid">
			<div class="alert alert-info">
				<i class="icon-info"></i>
				<table class="table">
					<tr>
						<td>
							<strong>Há <%= @evaluations.count%> avaliação(ões) vencendo daqui 7 dias.</strong>
						</td>
						<td width="1%">
							<%= link_to evaluations_path(expired: true), role: 'button' do %>
								<i class="icon-eye-open"></i>
							<% end %>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
<% end %>
<% if @trainings.any? %>
<div class="container-fluid" id="messages-content">
	<div class="row-fluid">
		<div class="alert alert-success">
			<i class="icon-calendar"></i>
				<strong> Olá <%= current_user.student.name %> seu treino para hoje é</strong><br>
				<% @trainings.each do |t| %>
					<%= link_to "#{t.name}", t %>
				<% end %>
		</div>
	</div>
</div>

<% end %>
