<p>
  <strong>Nome:</strong>
  <%= @exercise.name %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @exercise.description %>
</p>
<div class="form-actions">
<%= link_to 'Editar', edit_exercise_path(@exercise), class: 'btn btn-primary'  %> 
<%= link_to 'Voltar', exercises_path, class: :btn %>
</div>
