<div class="block row-fluid">
  <div class="navbar navbar-inner block-header">
  	<h3 align="center">Avaliação Fisica</h3>
  </div>
  <div class="block-content collapse in">
    <%= yield %>
  </div>
</div>
