<div class="container-fluid" id="messages-content">
  <% { :message => false, :flash => true }.each do |method, can_close| %>
    <% { :alert => :danger, :warning => :warning, :notice => :success, :info => :info }.each do |type, css| %>
      <% messages = [send(method)[type]].flatten.reject &:blank? -%>
      <% messages.each do |message| -%>
        <% next if message.blank? -%>
        <div class="row-fluid">
          <div class="alert alert-<%= css %>">
            <% if can_close -%><a href="#" class="close" data-dismiss="alert">&times;</a><% end -%>
            <%= message %>
          </div>
        </div>
      <% end -%>
    <% end -%>
  <% end -%>
</div>
