<div class="navbar">
  <div class="navbar-inner">
    <div class="container-fluid">
      <%= image_tag '/images/logo.png', :width =>30, :class  => 'brand'%>    
         <% if user_signed_in? %>
     		   <div class="nav-collapse collapse">
     		   	<ul class="nav pull-right">
              <li>
	              <%= link_to destroy_user_session_path, :data => { :confirm => 'Deseja realmenta fazer logoff' }, :method => :delete, :tabindex => "-1" do %>
	               <h4 title="Logoff"> <i class="icon-off"></i></h4>
	              <% end %>
              </li>
	            </ul>
     		   </div>
     		 <%end%>
    </div>
	</div>
</div>